<%= form_for(message) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p><strong>From:</strong>
    <%= current_user.name %></p>
  </div>

  <div class="form-group">
    <p><strong>To:</strong>
    <%= @user.name %>
    <%= f.hidden_field :to_id, value: @user.id %>
    </p>
  </div>

  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :content, rows: 10, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send", class: "pull-right btn btn-info" %>
  </div>
<% end %>
