<div class="col-xs-12 col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading"><%= @toy.name %></div>
    <div class="panel-body">
      <p>
      <strong>Price:</strong>
      <%= number_to_currency(@toy.price) %>
      </p>

      <p>
      <strong>Description:</strong>
      <%= @toy.description %>
      </p>
      <% if @toy.image.present? %>
        <p>
        <%= image_tag(@toy.image_url(:standard), width: 200, height: 200) %>
        </p>
      <% end %>

      <% if @toy.active? && !@toy.is_owner?(current_user) %>
        <%= form_for(@order) do |f| %>
          <%= f.hidden_field :toy_id, value: @toy.id %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                                                data-description=<%= "Paying for toy #{@toy.name}" %>
                                                              data-amount=<%= @toy.price_in_cents %>
                                                              data-locale="auto"></script>
        <% end %>
      <% end %>
      <br>
      <%= link_to "Send seller a message", new_message_path(to_id: @toy.seller.user), class: "btn btn-info" %>
      <% if @toy.is_owner?(current_user) %>
        <br>
        <br>
        <%= link_to 'Edit', edit_toy_path(@toy), class: "btn btn-primary" %>
      <% end %>
      <br>
      <br>
      <%= link_to 'Back', toys_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

