<div class="col-xs-12">
  <p>
  <strong>Name:</strong>
  <%= @toy.name %>
  </p>

  <p>
  <strong>Price:</strong>
  <%= number_to_currency(@toy.price) %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= @toy.description %>
  </p>
  <% if @toy.image.present? %>
    <p>
    <%= image_tag(@toy.image_url(:standard), width: 200, height: 200) %>
    </p>
  <% end %>

  <% #TODO: only show if not seller %>
  <% if @toy.active? %>
    <%= form_for(@order) do |f| %>
      <%= f.hidden_field :toy_id, value: @toy.id %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                                            data-description=<%= "Paying for toy #{@toy.name}" %>
                                                          data-amount=<%= @toy.price_in_cents %>
                                                          data-locale="auto"></script>
    <% end %>
  <% end %>

  <%= link_to "Send seller a message", new_message_path(to_id: @toy.seller.user), class: "btn btn-info" %>

<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>
</div>

