<%= form_for(seller) do |f| %>
  <% if seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :street %>
    <%= f.text_field :street, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :suburb %>
    <%= f.text_field :suburb, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :postcode %>
    <%= f.number_field :postcode, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.select(:state, ['NSW', 'QLD', 'SA', 'VIC', 'NT', 'WA', 'ACT'], {}, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.select(:country, ['Australia'], {}, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
