<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Toytastic</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% unless user_signed_in? %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <% unless current_user.is_a_seller? %>
            <li><%= link_to "Become a Seller", new_seller_path, class: "btn-info btn-small" %></li>
          <% else %>
            <li><%= link_to "List a Toy", new_toy_path %></li>
          <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user.is_a_seller? %>
              <li><%= link_to "Seller Profile", edit_seller_path(current_user.seller) %></li>
            <% end %>
            <li role="separator" class="divider"></li>
          <li><%= link_to "Purchases", orders_path %></li>
          <li><%= link_to "Sales", sales_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
