<h1>Sales</h1>

<% if @orders.present? %>
<table>
  <thead>
    <tr>
      <th>Order #</th>
      <th>Date</th>
      <th>Toy Name</th>
      <th>Toy Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.strftime("%B %d, %Y") %></td>
        <td><%= order.toy.name %></td>
        <td><%= order.toy.price %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>You have no sales. <%= link_to "Let's list some toys for sale!", new_toy_path %></p>
<% end %>

