<!DOCTYPE html>
<html>
  <head>
    <title>Toytastic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= flash_messages %>
    <div class="container">
      <% if user_signed_in? %>
        <%= render "shared/search" %>
      <% end %>

      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
